# Public client env
VITE_EGOV_SSO_USE_MOCK=true
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Supabase Edge Function secrets
EGOV_SSO_BASE_URL=
EGOV_SSO_EXCHANGE_CODE_PATH=/api/exchange-code
EGOV_SSO_PARTNER_CODE=
EGOV_SSO_PARTNER_SECRET=
EGOV_INTEGRATION_BASE_URL=
EGOV_INTEGRATION_ACCESS_CODE=
EGOV_AI_BASE_URL=https://hackathon-sso.e.gov.ph
EGOV_AI_ACCESS_CODE=
GEMINI_API_KEY=

# eVerify
VITE_EVERIFY_CLIENT_ID=
VITE_EVERIFY_CLIENT_SECRET=
VITE_EVERIFY_PUBKEY=

# eMessage
VITE_EMESSAGE_ACCESS_TOKEN=

# eGovPay
VITE_EGOVPAY_API_KEY=
VITE_EGOVPAY_SETTLEMENT_TEMPLATE_UUID=

# eReport
VITE_EREPORT_ACCESS_TOKEN=

# Face Liveness
VITE_FACE_LIVENESS_API_KEY=

# Compass
VITE_COMPASS_API_KEY=
