# eGov SSO
VITE_EGOV_SSO_BASE_URL=
VITE_EGOV_SSO_EXCHANGE_CODE_PATH=/api/exchange-code
VITE_EGOV_SSO_PARTNER_CODE=
VITE_EGOV_SSO_PARTNER_SECRET=
VITE_EGOV_SSO_USE_MOCK=true

# eGov Integration
VITE_EGOV_INTEGRATION_BASE_URL=
VITE_EGOV_INTEGRATION_ACCESS_CODE=

# eVerify
VITE_EVERIFY_CLIENT_ID=
VITE_EVERIFY_CLIENT_SECRET=
VITE_EVERIFY_PUBKEY=

# eMessage
VITE_EMESSAGE_ACCESS_TOKEN=

# eGov AI
VITE_EGOV_AI_ACCESS_CODE=

# Gemini API Key for AI Auto-Drafting (Fallback if eGov AI is not used)
VITE_GEMINI_API_KEY=

# eGovPay
VITE_EGOVPAY_API_KEY=
VITE_EGOVPAY_SETTLEMENT_TEMPLATE_UUID=

# eReport
VITE_EREPORT_ACCESS_TOKEN=

# Face Liveness
VITE_FACE_LIVENESS_API_KEY=

# Compass
VITE_COMPASS_API_KEY=

# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
